

# hx4k

set_io CLK        129

set_io MON1   26
set_io MON2   28
set_io MON3   29
set_io MON4   31
set_io MON5   32
set_io MON6   33
set_io MON7   34






set_io SPI_CLK          56
#set_io CS              58    # ISSUE .   trace to pin is cut.
set_io SPI_MOSI         60
set_io SPI_CS2          61
set_io SPI_MISO         62
set_io SPI_INTERUPT_OUT 63    # // prefix me!
set_io SPI_CS           64    # ISSUE


set_io _4094_OE_CTL        76
set_io GLB_4094_CLK       73
set_io GLB_4094_STROBE_CTL 74
set_io GLB_4094_DATA      75
set_io GLB_4094_MISO_CTL  98   # via level shift.





########################



# reg_led  7
# gpio
set_io LED0         87


