
# decent style guide,
# https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md#naming

# jul 7, 2023.






# suspect 'S' indicates 'SPI' or 'serial' in this contet. not slave.
# Eg. SDO is to MOSI - in context where fpga is spi master, when reading flash bitstream.
# but is MISO - when fpga is spi slave when receiving bitstream.

#A dual-function, serial output pin in both configuration modes.
#iCE40 LM devices have this pin shared with hardened SPI IP
#SPI_MISO pin.
set_io SDO              67

# A dual-function, serial input pin in both configuration modes.
# iCE40 LM devices have this pin shared with hardened SPI IP
# SPI_MOSI pin.
set_io SDI              68


#A dual-function clock signal. An output in Master mode and
#input in Slave mode. iCE40 LM devices have this pin shared with
# hardened SPI IP SPI_SCK pin.
set_io SCK              70


#An important dual-function, active-low slave select pin. After
#the device exits POR or CRESET_B is toggled (High-Low-High), it
#samples the SPI_SS to select the configuration mode (an output
#in Master mode and an input in Slave mode). iCE40 LM devices
#have this pin shared with hardened SPI IP SPI1_CSN pin.
set_io SS               71


# consider adding '_n' suffix on cs,rst lines.
#   Using the '_n' naming convention for port names when active low is still a good idea.

# spi1.
set_io SPI_CS2          61

# should use lower case.
# TODO drop the ctl. because _ctl==_o ??
set_io spi_interrupt_ctl_o 62

#

set_io trigger_source_external_o   37      # // trigger_ext_out   - need to re
set_io trigger_source_internal_o   38     #// trigger_int_out 38
set_io unused1_o          39
set_io meas_complete_o    41



###############################



set_io leds_o[0]        47
set_io leds_o[1]        48
set_io leds_o[2]        49
set_io leds_o[3]        52



set_io monitor_o[0]     25
set_io monitor_o[1]     26
set_io monitor_o[2]     28
set_io monitor_o[3]     29
set_io monitor_o[4]     31
set_io monitor_o[5]     32
set_io monitor_o[6]     33
set_io monitor_o[7]     34



# better name HW_FLAGS
# put these as inputs in the status register.
# perhaps as the first three bits.

set_io hw_flags_i[0]      12
set_io hw_flags_i[1]      19
set_io hw_flags_i[2]      20
set_io hw_flags_i[3]      21


# outputs
set_io GLB_SPI_MOSI      91      # GLB_SPI_MOSI
set_io GLB_SPI_CLK       95      # GLB_SPI_CLK

set_io GLB_4094_STROBE_CTL 93
set_io GLB_4094_OE_CTL     94

set_io SPI_DAC_SS         96      #


set_io U1004_4094_DATA  98



############################

# input
set_io CLK              129


set_io sig_pc_sw_o[0]     78
set_io sig_pc_sw_o[1]     79



# az mux
# mar 2024. routed pcb with enable as first pin (pin 80) - should have been last.
# perhaps keep as is, depending on copmlexity of rerouting.
set_io azmux_o[0]      81   # A0_CTL
set_io azmux_o[1]      87   # A1_CTL
set_io azmux_o[2]      88   # A2_CTL
set_io azmux_o[3]      80   # EN_CTL


# adc comparator
set_io adc_cmpr_latch_o   138

# adc ref current mux
# TODO adc_refmux_o
set_io adc_refmux_o[0]      141
set_io adc_refmux_o[1]      142
set_io adc_refmux_o[2]      143
set_io adc_refmux_o[3]      144







# set_io LINE_SENSE_OUT   80
# set_io SWITCH_SENSE_OUT  81
# set_io DCV_OVP_OUT      87
# set_io OHMS_OVP_OUT     88
# set_io SUPPLY_SENSE_OUT 90
# set_io UNUSED_2         91    # connects to level-shift.  but level-shift unconnected. rename RESERVED.


###############################



# set_io CMPR_LATCH_CTL   137
# set_io CMPR_P_OUT       138
# set_io CMPR_N_OUT       139
# set_io U902_SW0_CTL     141
# set_io U902_SW1_CTL     142
# set_io U902_SW2_CTL     143
# set_io U902_SW3_CTL     144


