

set_io XTALCLK 21




#    pa5 = clk = via = voa  = pin 42. ice40. (MUST be VOA for GBIN).  or pin49 gbin.
#    pa4 = nss.   vib = vob  = pin 43.
#    pa7 = mosi.  vic = voc  = pin 44.
#    pa3 = special vid = vod = pin 45

#    pa6 = miso.  vie=voe  = pin 47



# should prefix these
# use SPI_
# or COMMS_SPI_MOSI, or SPI_ICE40_  or SPI1_ etc  shoudl be consisent.
# adumn262/162
set_io CLK          42

set_io CS           43
set_io MOSI         44
set_io CS2          45    # TODO change name CS2
set_io MISO         47     # output from fpga, input to mcu master.


# VOF/VIF
# ads131a04  DYDR Data ready; active low; host interrupt and synchronization for multi-devices

set_io INTERUPT_OUT 48


########################
# spi

# these are badly ordered in schematic
# mcp3208

# moved nov 2022
set_io ADC03_CLK    61
set_io ADC03_MISO   62
set_io ADC03_MOSI   63
set_io ADC03_CS     64

# should prefix rename SPI_DAC_CS etc.
# dac
# dac8734
set_io DAC_SPI_CS   29
set_io DAC_SPI_CLK  28
set_io DAC_SPI_SDI  26
set_io DAC_SPI_SDO  25



# general spi bus.
# TODO better naming.
# gpio
set_io ICE_MOSI     67
set_io ICE_MISO     68
set_io ICE_SCK      70

set_io ICE_SS       71   # eg write flash.
set_io FLASH_SS     50   # june 2022.   should share the same prefix... if other spi lines are common
set_io HEADER_SS    49



# adc spi

set_io ADC02_MOSI   4
set_io ADC02_MISO   7
set_io ADC02_CLK    8
set_io ADC02_CS     9



# 4094

set_io GLB_4094_OE      75

set_io GLB_4094_DATA    73
set_io GLB_4094_CLK     74
set_io U511_STROBE_CTL  76
set_io U514_STROBE_CTL  78
set_io A_STROBE_CTL     79

set_io U511_MISO_CTL    81
set_io U514_MISO_CTL    87
set_io U706_MISO_CTL    88






########################



# reg_led  7
# gpio
set_io LED0         105
set_io LED1         106
set_io LED2         107


# TODO rename reg_mux_spi
# reg_mux  8


# reg_dac 9
set_io DAC_LDAC     24
set_io DAC_RST      23
set_io DAC_UNI_BIP_A 31
set_io DAC_UNI_BIP_B 32



# reg_adc  14
# ads131a04
#
set_io ADC02_RST    1
set_io ADC02_DONE   2     # UNUSED??? aug 2022.
set_io ADC02_DRDY   3

set_io ADC02_M0     10
set_io ADC02_M1     11
set_io ADC02_M2     12



