
# https://github.com/damdoy/ice40_ultraplus_examples/blob/master/common/io.pcf
# For the iCE40 UltraPlus (iCE40UP5K-QFN) Breakout Board


#set_io clk             35
# JA
set_io clk              37


# JA swapped versus breakout board.
set_io LED_R            39
set_io LED_G            40
set_io LED_B            41


# hc175/4053 switch
set_io INT_IN_P_CTL     25
set_io INT_IN_N_CTL     23
set_io INT_IN_SIG_CTL   27
set_io INT_IN_UNUSED_CTL 26


# lt1016
set_io CMPR_LATCH_CTL   28
set_io CMPR_OUT_CTL_P   32
set_io CMPR_OUT_CTL_N   34


# dg444 / max326
set_io MUX_SIG_HI       36
set_io MUX_REF_HI       43
set_io MUX_REF_LO       38
set_io MUX_SLOPE_ANG    42


# # bank 0
# # set_io IOT_39A 26
# # set_io IOT_38B 27
# set_io IOT_42B 31
# # set_io IOT_43A 32
# set_io IOT_45A_G1 37
# set_io IOT_51A 42
# set_io IOT_50B 38


####
# prefix COM for comms, or MCU_CS or SPI1 ?
set_io COM_CLK  6       # VOA
set_io COM_CS   9       # VOB
set_io COM_MOSI 10      # VOC
set_io COM_SPECIAL 11   # VOD
set_io COM_MISO 12      # VIE
set_io COM_INTERUPT 21  # VIF


##################
# ice/flash spi
# not tested as gpio.
set_io SPI_SS 16
set_io SPI_SCK 15
# JA - we have these reversed. for master configure??? or mistake
set_io SPI_MOSI 17
set_io SPI_MISO 14

