

# jul 7, 2023.


# better name HW_FLAGS
# put these as inputs in the status register.
# perhaps as the first three bits.
set_io HW0              19
set_io HW1              20
set_io HW2              21

set_io MON0             25
set_io MON1             26
set_io MON2             28
set_io MON3             29
set_io MON4             31
set_io MON5             32
set_io MON6             33
set_io MON7             34





# I think 'S' indicates SPI. not slave.
# Eg. SDO is connected to MOSI - when fpga is spi master to read spi flash for bitstream.
# but will be connected to MISO - when fpga is spi slave when being sent a bitstream.

#A dual-function, serial output pin in both configuration modes.
#iCE40 LM devices have this pin shared with hardened SPI IP
#SPI_MISO pin.
set_io SDO              67

# A dual-function, serial input pin in both configuration modes.
# iCE40 LM devices have this pin shared with hardened SPI IP
# SPI_MOSI pin.
set_io SDI              68


#A dual-function clock signal. An output in Master mode and
#input in Slave mode. iCE40 LM devices have this pin shared with
# hardened SPI IP SPI_SCK pin.
set_io SCK              70


#An important dual-function, active-low slave select pin. After
#the device exits POR or CRESET_B is toggled (High-Low-High), it
#samples the SPI_SS to select the configuration mode (an output
#in Master mode and an input in Slave mode). iCE40 LM devices
#have this pin shared with hardened SPI IP SPI1_CSN pin.
set_io SS               71



set_io SPI_CS2          61
set_io SPI_INTERRUPT_CTL 62

###############################

set_io LED0             47
set_io LED1             48
set_io LED2             49




set_io GLB_4094_DATA    73
set_io GLB_4094_CLK     74
set_io _4094_OE_CTL     75
set_io GLB_4094_STROBE_CTL 76


set_io U1004_4094_DATA  98


# set_io UNUSED_1         78  # this is unconnected.  but aligns with level-shift ic. .  rename RESERVED.


# set_io LINE_SENSE_OUT   80
# set_io SWITCH_SENSE_OUT  81
# set_io DCV_OVP_OUT      87
# set_io OHMS_OVP_OUT     88
# set_io SUPPLY_SENSE_OUT 90
# set_io UNUSED_2         91    # connects to level-shift.  but level-shift unconnected. rename RESERVED.


# set_io SIG_PC_SW_CTL    93

# set_io U402_EN_CTL      94
# set_io U402_A0_CTL      95
# set_io U402_A1_CTL      96
# set_io U402_A2_CTL      97

# set_io U414_EN_CTL      104
# set_io U414_A0_CTL      105
# set_io U414_A1_CTL      106
# set_io U414_A2_CTL      107

# set_io U413_EN_CTL      98
# set_io U413_A0_CTL      99
# set_io U413_A1_CTL      101
# set_io U413_A2_CTL      102



###############################

# set_io TRIGGER_EXT_OUT  38
# set_io TRIGGER_INT_OUT  39
# set_io ISO_UNUSED_OUT   41
# set_io MEAS_COMPLETE_CTL 42


# set_io SPI_CLK          56
# set_io SPI_MOSI         60
# set_io SPI_MISO         62
# set_io SPI_CS           64


###############################

# set_io CLK              129


# set_io CMPR_LATCH_CTL   137
# set_io CMPR_P_OUT       138
# set_io CMPR_N_OUT       139
# set_io U902_SW0_CTL     141
# set_io U902_SW1_CTL     142
# set_io U902_SW2_CTL     143
# set_io U902_SW3_CTL     144


