

# set_io --warn-no-port LED1 B5

# clock
# set_io clk  21

set_io --warn-no-port clk J3

# https://github.com/nesl/ice40_examples/blob/master/blinky/pinmap.pcf
set_io --warn-no-port led1 B5
set_io --warn-no-port led2 B4
set_io --warn-no-port led3 A2
set_io --warn-no-port led4 A1
set_io --warn-no-port led5 C5
set_io --warn-no-port led6 C4
set_io --warn-no-port led7 B3
set_io --warn-no-port led8 C3

# https://github.com/mcmayer/iCE40
set_io --warn-no-port RS232_Rx_TTL  B12
set_io --warn-no-port RS233_Tx_TTL  B10


# see also, for rst etc. and pullups
# https://github.com/iabdalkader/zpu-lattice/blob/master/zpu/zpu.pcf

