
# example.pcf
# set_io a 1
# set_io b 10
# set_io y 11

# inputs
# SCK, MOSI, MISO, SSEL,
set_io sck    87 
set_io mosi   88 
set_io miso   90 
set_io ssel   91 

# leds
set_io LED1 99
set_io LED2 98
set_io LED3 97
set_io LED4 96
set_io LED5 95

# clock
set_io clk 21

